html {
    display: flex;
    justify-content: center;
}

body {
    width: 100%;
    max-width: 1600px;
    overflow-x: hidden;
}

header .navbar h1 a.nav-link {
    color: var(--color-text) !important;
}

nav h1 a.nav-link:hover {
    color: var(--color-accent) !important;
}

.button-custom {
    margin-top: 3px;
    display: inline-block !important;
    text-align: center;
    border-radius: 20px;
    background-color: transparent !important;
    color: #000 !important;
    border: 1px solid #000 !important;
    padding-inline: 1.2rem !important;
    padding-block: 0.5rem !important;
    height: auto;
    width: auto;
    font-size: 14px;
    font-weight: 900;
    transition: background-color 0.3s ease !important;
    line-height: 1.2;
}

.button-custom-2 {
    margin-top: 3px;
    display: inline-block !important;
    text-align: center;
    border-radius: 20px;
    background-color: #000 !important;
    color: #ffffff !important;
    border: 1px solid #000 !important;
    padding-inline: 1.2rem !important;
    padding-block: 0.5rem !important;
    height: auto;
    width: auto;
    font-size: 14px;
    font-weight: 900;
    transition: background-color 0.3s ease !important;
    line-height: 1.2;
}

.button-custom-3 {
    margin-top: 3px;
    display: inline-block !important;
    text-align: center;
    border-radius: 20px;
    background-color: transparent !important;
    color: #ffffff !important;
    border: 1px solid #ffffff !important;
    padding-inline: 1.2rem !important;
    padding-block: 0.5rem !important;
    height: auto;
    width: auto;
    font-size: 14px;
    font-weight: 900;
    transition: background-color 0.3s ease !important;
    line-height: 1.2;
}

.button-custom:hover {
    background-color: #38373721 !important;
}

.button-custom-2:hover {
    background-color: #474747bb !important;
}


.button-custom-3:hover {
    background-color: #3837374b !important;
}

@media (max-width: 992px) {

    .container-fluid.pt-4 a.custom-text-color {
        text-align: left;
        display: flex;
        justify-content: space-between;
    }
}

.arrow {
    transition: transform 0.3s ease;
}

.collapse.show+a .arrow,
a[aria-expanded="true"] .arrow {
    transform: rotate(-180deg);
}

.container-fluid.pt-4 a:hover {
    text-decoration: none;
}

.container.pt-4 a:hover {
    text-decoration: none;
}

.navbar-brand img {
    height: 49.36px;
    width: 49.36px;
}

.custom-circle {
    border-radius: 50% !important;
    padding: 10px 15px;
    width: auto;
    height: auto;
    text-align: center;
    display: inline-block;
}

ul.list-inline a.sm {
    transition: box-shadow 0.3s ease-in-out;
    color: #000;
}

ul.list-inline a.sm:hover {
    color: #505050;
}

.custom-bg-1 {
    background-color: #bbf2d1;
}

.custom-bg-2 {
    background-color: #b2b267;
}

.custom-bg-2 h5,
.custom-bg-2 .p2 {
    color: #1e3932 !important;
}

.custom-bg-3 {
    background-color: #cfd84d;
}

.custom-bg-3 h5,
.custom-bg-3 .p2 {
    color: #1e3932 !important;
}

.custom-bg-4 {
    background-color: #96b2c8;
}

.custom-bg-4 h5,
.custom-bg-4 .p2 {
    color: #1e3932 !important;
}

.custom-bg-5 {
    background-color: #337481;
}

.custom-bg-5 h5,
.custom-bg-5 .p2 {
    color: #ffffff !important;
}

.custom-bg-6 {
    background-color: #1e3932;
}

.custom-bg-6 h2,
.custom-bg-6 p {
    color: #ffffff !important;
}

.custom-text-color {
    color: #505050;
    font-weight: 600;
}

.custom-text-color:hover {
    color: #000000;
}

.custom-link-color {
    color: #000;
    font-weight: 600;
}

.custom-link-color:hover {
    color: #000;
    text-decoration: underline !important;
}

.custom-link-color-2 {
    color: #006241;
    font-weight: 700;
}

.custom-link-color-2:hover {
    color: #006241;
}

footer {
    font-weight: 200;
    color: #505050;
}